<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Configuration of Mysql Data Source  -->
  <bean id="mysqlDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  	<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
  	<property name="url" value="jdbc:mysql:///newtwo"></property>
  	<property name="connectionProperties">
  		<props>
  			<prop key="user">root</prop>
  			<prop key="password">root</prop>
  		</props>
  	</property>
  </bean>
  
  <!-- Dao configuration  -->
  <bean id="daoImpl" class="in.ineuron.dao.CustomerDaoImpl">
  	<constructor-arg name="dataSource" ref="mysqlDataSource"></constructor-arg>
  </bean>
  
   <!-- Service configuration  -->
  <bean id="serviceImpl" class="in.ineuron.service.CustomerMgntServiceImpl">
  	<constructor-arg name="dao" ref="daoImpl"></constructor-arg>
  </bean>
  
   <!-- Controller configuration  -->
  <bean id="controller" class="in.ineuron.controller.CustomerController">
  	<constructor-arg name="service" ref="serviceImpl"></constructor-arg>
  </bean>
  
   


</beans>